html {
    scroll-behavior: smooth;
}

body {
    background-color: #dedcdc;
}

.site-header {
    background-color: #003771;

}

.main-nav {
    background-color: #00689c;
}

.even {
    color: #F8F8F8;

}

#LExercise {
    background-color: #00689c;
    color: #F8F8F8;
}

#Units {
    background-color: #00689c;
    color: #F8F8F8;
}

.main-content {
    background-color: #dedcdc;
}

.contact-intro {
    background-color: #00689c;
}

p {
    color: #526174;
}

.base-paragraph {
    background-color: #F8F8F8;
}

h1 {
    color: #F8F8F8;
}

h3 {
    color: #00689c;
}

.steps {
    background-color: #F8F8F8;
}

#first-list {
    color: #526174;
}

.contact-form {
    background-color: #F8F8F8;
}

#FN {
    color: normal;
}

#LN {
    color: normal;
}

#E-MAIL {
    color: normal;
}

#Message {
    color: normal;
}

#DR {
    color: normal;
}

#CH {
    color: normal;
}

#btn {
    background-color: #003771;
    color: #F8F8F8;
}

#FN1 {
    color: #003771;
}

#LN1 {
    color: #003771;
}

#E-MAIL1 {
    color: #003771;
}

#Message1 {
    color: #003771;
}

#DR1 {
    color: #003771;
}

#CH1 {
    color: #003771;
}

.site-footer {
    background-color: #003771;
}

.footer-top {
    background-color: #003771;
}

a {
    color: #F8F8F8;
}

.footer-links {
    color: #F8F8F8;
}

.footer-credits {
    background-color: #003771;
}

.footer-bottom {
    background-color: #003771;
}

#ok {
    color: #F8F8F8;
}
